*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
Base font size: 16px; 
*/

body {
    font-size: 100%;
    font-family: 'Droid Sans', sans-serif;
}
header {
    font-weight: bold;
    color: #fff;
    background-image: url('/img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    /*always use background color as backup*/
    background-color: dimgray;
}

h1 {
    /* 20px/16px */
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
}

h2 {
    /* 19px/16px */
    color: blue ! important;
    font-size: 1.1875em;
}

h3 {
    /* 18px/16px */
    font-size: 1.125em;
}
/*Select h3 element which is a (direct)) child of header tag */
header h3 {
    font-size: 1em;
    
}

a {
    text-decoration: none;
    font-weight: normal;
}

header nav ul a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

header ul {
    list-style: none;
    margin-bottom: 100px;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

section#personal-info img {
    height: 150px;    
    display: inline-block;
    vertical-align: middle;
    -ms-border-radius: 10px 100px;
    -webkit-border-radius: 10px 100px;
    -o-border-radius: 10px 100px;
    -moz-border-radius: 10px 100px;
    border-radius: 10px 100px;
}

div#personal-info-detail {
    display: inline-block;
    vertical-align: middle;
}

section#personal-info {
    text-align: center;
    margin-bottom: 50px;
}

.link_button {
    border: 1px solid #6ac4bc;
    background-color: #6ac4bc;
    color: #000;
    padding: 5px;
}

.link_button:hover {
    text-decoration: none;
    border: 1px solid #ccc;
}

a#button_about {
    display: inline-block;
    width: 80px;
    
}

/* Feature Project Section */
section#feature-project> h2 {
    font-size: 1.875em;
    text-align: center;
    background-image: url('/img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    line-height: 130px;
    color: #000 !important;
}

.project {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 70%;
    display: block;
    margin: auto;
}

.project > img {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.project-detail {
    display: inline-block;
    text-align: left;
}

.project ul {
    line-height: 25px;
    text-indent: 25px;
    
}

.project ul li {
    list-style-position: inside;
    list-style-type: circle;
    white-space: nowrap;
}

#footerr {
    text-align: center;
    line-height: 30px;
  
}

#facebook-icon {
    color: blue;
}

 #txtfab {
    color: blue;
}

#gogole-icon {
    color: red;
}

#twitter-icon {
    color: aqua;
}

#txtgg {
    color: red;
}

#txttw {
    color: aqua;
}
#icon {
    margin-top: 10px;   
}
#icon i {
    margin-left: 10px;
}
/*---------------------*/

/*Format for project page*/
section#project-container {
    display: block;
}

section#project-container:after{
    content: ' ';
    display: block;
    clear: both;
}

section#project-list {
    float: left;
    width: 75%;
    text-align: center;
}

aside#project-benefit {
    float: left;
    width: 25%;    
}

aside#project-benefit ul {
    list-style: inside;
    text-indent: 25px;
    list-style-type: lower-greek;
}

aside#project-benefit h1 {
    text-transform: uppercase;
}

#project-list-wrapper {
    width: 100%;
    margin: 0 auto;
}
.project-item {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 15px rgb(122,64,93);
}

.project-item img {
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100px;
    transition: transform 1s;
    box-shadow: 0 0 20px hotpink;
}
    
.project-item img:hover {
    cursor: pointer;
    transform: translate(-5%,0);
}

.project-item-detail {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.project-item-detail ul {
    list-style-position: inside;
    text-indent: 20px;
}

.project-item-detail ul li {
    white-space: nowrap;
}
/*------------------------------------*/
/*Format for experience page*/
section#experience_wrapper {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

section#work,section#project_done {
    margin-bottom: 100px;
}
section#work h2,section#project_done h2 {
    margin-bottom: 30px;
}

section#work h2,section#project_done h2:hover {
    cursor: pointer;
}
table#tbl_work {
    margin: 5px auto;
    text-align: left;
    border-spacing: 0;
    border: 2px solid blue;
    border-radius: 15px;
}

table#tbl_work thead tr th {
    padding: 5px;
    border-bottom: 2px solid blue;
    text-align: center;
}
table#tbl_work thead tr th{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
table#tbl_work tbody tr td {
    padding: 5px;
}

table#tbl_work tfoot tr td {
    padding: 5px;
    text-align: center;
    color: hotpink;
}

table#tbl_work tbody tr:nth-child(odd) {
    background-color: aquamarine;
}

table#tbl_work tbody tr:nth-child(even) {
    background-color: palegreen;
}

table#tbl_work tbody tr:hover {
    background-color: blueviolet;
}

table#tbl_project_done {
    margin: 5px auto;
    text-align: left;
    border-spacing: 15px 0;
    border-collapse: separate;
}

table#tbl_project_done thead tr th {
    border-bottom: 2px solid blue;
    padding: 5px;
    color: blue;
}


table#tbl_project_done tbody tr td {
    padding: 3px;
}

table#tbl_project_done tfoot tr td {
    text-align: center;
    background-color: bisque;
    padding: 5px;
    border-radius: 0 0 15px 15px;
}

table#tbl_project_done tbody tr td:nth-child(odd) {
    background-color: aqua;
}

table#tbl_project_done tbody tr td:nth-child(even) {
    background-color: greenyellow;
}
/*----------------------------------*/
/*Format for contace page */
section#contact_form {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 12px #ccc;
    position: relative;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.35em;
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    display: block;
}

label.ligh {
    display: inline-block;
    margin-right: 30px;
    padding: 5px;
}

input[type='text'],input[type='email'],input[type='url'],textarea,select {
    border: none;
    font-size: 1em;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background: #e8eeef;
    margin-bottom: 30px;
    outline: none;   
    transition: transform 1s;
}
input[type='text']:active {
    transform: translateX(20px);
}

input[type='radio'],input[type='checkbox'] {
    margin-bottom: 30px;
}

button{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #3ac162;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px #5fcf00;
}

section#contact_form form button[type='submit'] {
    background: #4ac970;
    color: white;
}

section#contact_form form button[type='reset'] {
    background: #ebebeb;
    color: #3ac162;
}

.number {
    background: #5fcf80;
    color: white;
    height: 30px;
    line-height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.75em;
    margin-right: 4px;
    text-align: center;
    border-radius: 100%;
}

address {
    width: 150px;  
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    text-align: center;
    background-color: aquamarine;
    position: absolute;
    top: -20px;
    right: -60px;
}

aside#fixed_nav {
    position: fixed;
    top: 300px;
    left: 0;
}

aside#fixed_nav ul {
    width: 120px;
}

aside#fixed_nav ul li {   
    border-spacing: 0;    
    height: 40px;
    text-align: center;
    line-height: 40px;
}

aside#fixed_nav ul li a {
    text-decoration: none;
}

aside#fixed_nav ul li:nth-child(1) {
    background-color: aqua;
}

aside#fixed_nav ul li:nth-child(2) {
    background-color: lightsalmon;
}

aside#fixed_nav ul li:nth-child(3) {
    background-color: azure;
}